<div class="container" onmousedown="pressDown(this);" onmouseup="pressUp(this);" ontouchstart="pressDown(this);" touchend="pressUp(this);">

<h1>Index Page</h1>
<p>Here is some content</p>
<p>The whole point of doing this is to test deploying an app to Heroku.</p>
<%= link_to 'My Blog', controller: 'articles' %>
<%= link_to 'Widget', controller: 'widget' %>

</div>
