<div class="container" onmousedown="pressDown(this);" onmouseup="pressUp(this);" ontouchstart="pressDown(this);" touchend="pressUp(this); onclick="changeColor(.experimental)";>

  <h1>Colour widget</h1>

  <p>
    Welcome to my Colour widget.
  </p>
  <br>

  <%= link_to 'Home', { controller: 'welcome' }, class: "menu" %>
  <%= link_to 'My Blog', { controller: 'articles' }, class: "menu" %>


	</div>


	<div class="experimental" onmousedown="pressDown(this);" onmouseup="pressUp(this);" ontouchstart="pressDown(this);" touchend="pressUp(this);" onclick="changeColor(this);">
	<p>
	This is the primary colour...
	<!--
	<script type="text/javascript">
	document.write(hue)
	</script>
	-->
	</p>
	</div> <!-- experimental -->
	<div class="experimental2">
	<p>
	...this is the complement...
	</p>
	</div>
	<div class="experimental3" display="block">
	<p>
	...this is the first triad...
	</p>
	</div>
	<div class="experimental4" display="block">
	<p>
	...and this is the second triad.
	</p>
	</div>




<div class="container" onmousedown="pressDown(this);" onmouseup="pressUp(this);" ontouchstart="pressDown(this);" touchend="pressUp(this);" onclick="getColor();">
	<p>Play with the sliders below to generate your own colour profile</p>
	<form id="frm1" action="submit" class="forms">
		Hue (0-360): <input type="range" min=0 max=360 name="hue"><br>
	  Saturation (0-100): <input type="range" min=0 max=100 name="saturation"><br>
	  Lightness (0-100): <input type="range" min=0 max=100 name="lightness"><br>
		Opacity (0-100): <input type="range" min=0 max=100 name="opacity"><br>

		<!-- <input type="button" onclick="getColor()" value="Submit"> -->
	</form>
</div>

<!--
<div class="container">
	<p id="yaroo">
	</p>
</div>
-->


<br>
<br>

</body>

<script type="text/javascript">
// $(function() {
//         changeColor();
//     });

changeColor();
// getColor();

// function getInput() {
// 	var hue = document.getElementsByName("saturation")[0].value;
// 	var saturation = document.getElementsByName("saturation")[0].value;
// 	var lightness = document.getElementsByName("saturation")[0].value;
// 	var opacity = document.getElementsByName("saturation")[0].value;
// 	var hsla = [saturation, lightness, opacity];
// 	alert(hsla);
// };


</script>
