<div class="container" onmousedown="pressDown(this);" onmouseup="pressUp(this);" ontouchstart="pressDown(this);" touchend="pressUp(this); onclick="changeColor(.experimental)";>

  <h1>Colour widget</h1>

  <p>
    Welcome to my Colour widget.
  </p>
  <br>

  <%= link_to 'Home', { controller: 'welcome' }, class: "menu" %>
  <%= link_to 'My Blog', { controller: 'articles' }, class: "menu" %>


</div>


<div class="experimental" onmousedown="pressDown(this);" onmouseup="pressUp(this);" ontouchstart="pressDown(this);" touchend="pressUp(this);" onclick="changeColor(this);">
  <p>
      This is the main colour.
      <span class="bazoo"></span>
  </p>
</div>

<div class="experimental2">
  <p>
    ...this is the complement...
    <span class="bazoo2"></span>
  </p>
</div>

<div class="experimental3">
  <p>
    ...this is the first triad...
    <span class="bazoo3"></span>
  </p>
</div>

<div class="experimental4">
  <p>
    ...and this is the second triad.
    <span class="bazoo4"></span>
  </p>
</div>

<div class="experimental5">
    <p>
      Here are the details
    </p>
    <div class="bazoo5"></div>
</div>

<!-- <div class="experimental5">
  <span class="bazoo5"></span>
</div> -->

<div class="container" onmousedown="pressDown(this);" onmouseup="pressUp(this);" ontouchstart="pressDown(this);" touchend="pressUp(this);" onclick="getColor();">

	<p>
    Play with the sliders below to generate your own colour profile
  </p>

	<form id="frm1" action="submit" class="forms">

		Hue (0-360): <input type="range" min=0 max=360 name="hue"><br>
	  Saturation (0-100): <input type="range" min=0 max=100 name="saturation"><br>
	  Lightness (0-100): <input type="range" min=0 max=100 name="lightness"><br>
		Opacity (0-100): <input type="range" min=0 max=100 name="opacity"><br>

		<!-- <input type="button" onclick="getColor()" value="Submit"> -->

	</form>

<div class="container">
  <p id="yaroo">
    Here is some text. It should appear in the Yaroo div.
  </p>
  <p>
    Here is some more text; it should appear as a separate paragraph. What I am really keen to do though is to get something that spans over a couple of lines or more, just to see how it handles that.
  </p>
</div>

</div>






<br>
<br>


  <script>
    changeColor();
  </script>
  <!-- <script>
    printHue();
  </script> -->
  <!-- <script>
    printTheRest();
  </script> -->
</body>
