// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	font-family: 'Cardo', serif;
}

body {
	margin: 0;
	padding: 0;
	background-color: lightyellow;
	font-family: 'Josefin Sans', sans-serif;

}

.container {
	margin: auto;
	width: 60%;
}