// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	font-family: 'Cardo', serif;
}

body {
	margin: 0;
	padding: 0;
	background-color: lightyellow;
	font-family: 'Josefin Sans', sans-serif;

}

.container {
	margin-top: 2%;
	margin: auto;
	padding: 2%;
	border-style: groove;
	border-width: 2px;
	background-color: white;
	width: 60%;
}

.experimental {
    // background-color: hsla(180, 60%, 70%, 1);
    background-color: hsla(180, 50%, 50%, 1);
    padding: 12px;
    margin: 24px;
    border: 14px hsla(0, 50%, 50%, 1) solid;
    border-radius: 14px;
    // min-width: 100%;
}
