<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Bougie</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Cardo:700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>

<body>

	<div class="container" onmousedown="pressDown(this);" onmouseup="pressUp(this);" ontouchstart="pressDown(this);" touchend="pressUp(this);">

	<%= yield %>

	</div>


	<div class="experimental" onmousedown="pressDown(this);" onmouseup="pressUp(this);" ontouchstart="pressDown(this);" touchend="pressUp(this);" onclick="changeColor(this);">
	<p>
	This is the primary colour
	</p>
	</div> <!-- experimental -->
	<div class="experimental2">
	<p>
	This is the complement
	</p>
	</div>
	<div class="experimental3">
	<p>
	This is the first triad
	</p>
	</div>
	<div class="experimental4">
	<p>
	And this is the second triad
	</p>
	</div>




<div class="container" onmousedown="pressDown(this);" onmouseup="pressUp(this);" ontouchstart="pressDown(this);" touchend="pressUp(this);" onclick="getColor()">
	<p>Fill in the form below to generate your own colour profile</p>
	<form id="frm1" action="submit" class="forms">
		Hue (0-360): <input type="number" name="hue"><br>
	  Saturation (0-100): <input type="number" name="saturation"><br>
	  Lightness (0-100): <input type="number" name="lightness"><br>
		Opacity (0-100): <input type="number" name="opacity"><br>

		<!-- <input type="button" onclick="getColor()" value="Submit"> -->
	</form>
</div>

<!--
<div class="container">
	<p id="yaroo">
	</p>
</div>
-->


<br>
<br>

</body>

<script type="text/javascript">
// $(function() {
//         changeColor();
//     });

changeColor();
// getColor();

// function getInput() {
// 	var hue = document.getElementsByName("saturation")[0].value;
// 	var saturation = document.getElementsByName("saturation")[0].value;
// 	var lightness = document.getElementsByName("saturation")[0].value;
// 	var opacity = document.getElementsByName("saturation")[0].value;
// 	var hsla = [saturation, lightness, opacity];
// 	alert(hsla);
// };


</script>
</html>


<!--
	// var x = document.getElementById("frm1");
	// var i;
	// var input = [];
	// for (i = 0; i < x.length-1; i++) {
	// 	input.push(x.elements[i].value);
	// }
	// var newInput = [document.getElementById("frm1").elements.value]
	// alert(newInput);


	// alert(input);

	// var text = "";
	// var i;
	// for (i = 0; i < x.length; i++) {
	// 	text += x.elements[i].value + "<br>";
	// }
	// document.getElementById("yaroo").innerHTML = text;
	// confirm("You've clicked the button: this is a start!!");
	// alert(frm1[1]);
-->
