<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Bougie</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Cardo:700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>

<div class="whole_page">

<body>
	<!--
	<div class="container" onmousedown="pressDown(this);" onmouseup="pressUp(this);" ontouchstart="pressDown(this);" touchend="pressUp(this);">
	-->

	<%= yield %>

	<!--
	</div>
	-->

</body>

</div>

</html>


<!--
	// var x = document.getElementById("frm1");
	// var i;
	// var input = [];
	// for (i = 0; i < x.length-1; i++) {
	// 	input.push(x.elements[i].value);
	// }
	// var newInput = [document.getElementById("frm1").elements.value]
	// alert(newInput);


	// alert(input);

	// var text = "";
	// var i;
	// for (i = 0; i < x.length; i++) {
	// 	text += x.elements[i].value + "<br>";
	// }
	// document.getElementById("yaroo").innerHTML = text;
	// confirm("You've clicked the button: this is a start!!");
	// alert(frm1[1]);
-->
